.container{
    width: 60%;
    margin:auto;
    padding-bottom:25px;
}

.ulStyle{
    text-align: center;
    margin:0;
    padding:0;
}

.listItems{
    display:inline-block;
    text-align: center;
    padding:5px 15px 5px 5px;  
    list-style-type: none;

}
.categoryButtons{
    padding:0;
    margin:0;
    background-color: #151323;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight:700;
    color: #6e7699;
}
.categoryButtons:hover{
    color:white;
}

#active{
    color: #fff;
    border-bottom: 2px solid #42A5F5;
}
@media(max-width:1368px){
    .container{
        width:75%;
    }
}


@media(max-width: 768px){
    .container{
        width:95%;
    }
    .categoryButtons{
        font-size: 16px;
    }
    .listItems{
        padding:5px 10px 5px 5px; 
    }
}