.container{
    width: 60%;
    margin:auto;
}

.ulStyle{
    text-align: center;
    margin:0;
    padding:0;
}

.listItems{
    display:inline-block;
    text-align: center;
    padding:10px 10px 40px 40px;
    list-style-type: none;

}
.categoryButtons{
    background-color: #151323;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight:700;
    color: #4F5570;
}
.categoryButtons:hover{
    border: 1px solid #1D1DCE;
}
.categoryButtons:focus{
    color: #fff;
    border: 1px solid #1D1DCE;
}
@media(max-width:1368px){
    .container{
        width:75%;
    }
}

@media(max-width: 768px){
    .container{
        width:95%;
    }
    .listItems{
        padding:10px 5px 10px 5px;
        
    }
}