html{
    color: #ffffff;
    background-color: #151323;
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

ul{
    margin:0;
    padding:0;
}

p{
    color: #CDD5E0;
}